.title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    margin: 50px 0;
    letter-spacing: 2px;
    border-bottom: 2px solid gray;
    padding-bottom: 20px;
}

.title_container h1 span {
    color: red;
}

.title_container img {
    width: 60px;
    height: 60px;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin:0 auto;
}